html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Inter";
}

*:not(.fa-solid):not(.fa):not(.e-icons) {
    font-family: "Inter"
}

body {
  margin-bottom: 60px;
  background-color: #fff;
  color: #000000;
}

.e-bigger {
    font-size: x-large;
}

/*Button*/
.primarybtn {
    background-color: #fff;
    border: 1px solid #aecf04;
    color: #000000;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

/*Hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

/*Radio group*/
.e-btn-group.custom-rbt-group{
    width: 100%;
}
    .e-btn-group.custom-rbt-group .e-btn {
        width: 50%;
    }
/*No chose*/
.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    background-color: #fff;
    border: 1px solid #aecf04;
    color: #000000;
}
/*Chose*/
.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #aecf04;
    border: 1px solid #fff;
    color: #fff;
}

/*Widget*/
.widget {
    border-radius: 1rem;
    background-color: #f9fa97;
}

/*Grid*/
.e-grid {
    border: 0;
    border-radius: 5px;
}

    .e-grid .e-gridcontent, .e-grid .e-table {
        background-color: #f9fa97;
    }

    .e-grid .e-gridheader {
        border: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        background-color: #aecf04;
    }

        .e-grid .e-gridheader .e-headercell {
            background-color: #aecf04;
        }

    .e-grid .e-gridpager {
        background-color: #f9fa97;
    }

    .e-grid .e-pagercontainer {
        border: none;
        background-color: #f9fa97;
    }

    .e-grid .e-content table {
        padding: 0px 10px;
    }

.e-pagercontainer .e-icons {
    background-color: #f9fa97;
    border: none !important;
}

.e-pager .e-numericitem {
    color: #adb5bd;
    background-color: #f9fa97;
    padding: 15px !important;
}

    .e-pager .e-numericitem:not(.e-currentitem) {
        border: none !important;
    }

    .e-pager .e-numericitem:hover {
        color: #fff;
    }

    .e-pager .e-numericitem.e-currentitem {
        color: #fff;
        border: none !important;
        background-color: #aecf04;
    }

.e-pager div.e-icons:not(.e-disable) {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.e-grid .e-pager {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover{
    text-decoration: none !important;
    color: inherit !important;
}