html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #fff;
  color: #000000;
}

.e-bigger {
    font-size: x-large;
}

.btn-primary {
    background-color: #fff;
    border: 1px solid #f16161;
    color: #000000;
}

/*Radio group*/
.e-btn-group.custom-rbt-group{
    width: 100%;
}
    .e-btn-group.custom-rbt-group .e-btn {
        width: 50%;
    }
/*no chose*/
.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    background-color: #fff;
    border: 1px solid #f16161;
    color: #212b36;
}
/*chose*/
.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #f16161;
    border: 1px solid #fff;
    color: #fff;
}